<header id="header">

    {% include "theme::partials/navigation" %}

    {% if page.home %}
        <div id="intro" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('{{ page.header_image.make.url }}');">
            <h1 class="title">
                <span class="line1">I am.</span>
                <span class="line2">Thomas</span>
                <span class="line3">Wiringa</span>
            </h1>

            <button class="skip-content">
                <i class="fa fa-fw fa-long-arrow-down"></i>
            </button>
        </div>
    {% endif %}

</header>
